.sidebar {
    position: sticky;
    top: 80px;
    flex:0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}

.sidebar__avator{
    margin-bottom: 10px;

}
.sidebar__top{
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid lightgrey;
border-bottom:0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-color: white;
padding-bottom: 10px;
}
.sidebar__top > img{
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.siderbar__stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}
.sidebar__stats{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.siderbar__stat > p{
    color: gray;
    font-size: 13px;
    font-weight:600;
}
.siderbar__statNumber{
    font-weight: bold;
    color: #0a66c2 !important;
}